<!DOCTYPE html>
<html>
<head>
    <title>Applications</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container py-5">
    <h2 class="text-danger mb-4">Applications Received</h2>

    <table class="table table-bordered shadow">
        <tr>
            <th>Application ID</th>
            <th>Student ID</th>
            <th>Job ID</th>
            <th>Date</th>
            <th>Program</th>
            <th>CGPA</th>
            <th>Status</th>
        </tr>

        {% for app in applications %}
        <tr>
    <td>{{ app[0] }}</td>  <!-- App ID -->
    <td>{{ app[1] }}</td>  <!-- Student ID -->
    <td>{{ app[2] }}</td>  <!-- Job ID -->
    <td>{{ app[3] }}</td>  <!-- Date -->
    <td>{{ app[4] }}</td>  <!-- Program -->
    <td>{{ app[5] }}</td>  <!-- CGPA -->
    <td>{{ app[6] }}</td>  <!-- Status -->
            <td>
                <form method="POST" action="/company/application/update/{{ app[0] }}">
                    <select name="status" class="form-select mb-1">
                        <option>Pending</option>
                        <option>Shortlisted</option>
                        <option>Selected</option>
                        <option>Rejected</option>
                    </select>
                    <button class="btn btn-danger btn-sm">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
<div class="mt-3">
    <a href="/company/dashboard" class="btn btn-secondary">
        ← Back to Dashboard
    </a>
</div>
</div>

</body>
</html>