<!DOCTYPE html>
<html>
    <h1>Company registration</h1>
    <form method="POST">
        <label>Company ID</label>
        <input name="company_id"><br>
        <label>Company Name</label>
        <input name="company_name"><br>
        <label>Mobile Number</label>
        <input name ="mobile_number"><br>
        <label>Email ID</label>
        <input name="email_id"><br>
        <label>Password</label>
        <input type = "password", name="password"><br>
        <button>Submit</button>
    </form>
</html>