<!DOCTYPE html>
<html>
    <title>JOB POSTING</title>

    <body>
    <h1>Job Posting</h1>
    <form method="POST">
        <label>Job ID</label>
        <input name ="job_id"><br>
        <label>Compnay ID</label>
        <input name ="company_id"><br>
        <label>Job Role</label>
        <input name="job_role"><br>
        <label>Salary</label>
        <input name="salary"><br>
        <label>Location</label>
        <input name="Location"><br>
        <button>POST</button>
    </form>
    </body>
</html>