<!DOCTYPE html>
<html>
<head>
    <title>JOB POSTING</title>
</head>
<body>
    <h1>Job Posting</h1>

    <form method="POST">
        <label>Job Role</label>
        <input type="text" name="job_role" required><br><br>

        <label>Salary</label>
        <input type="text" name="salary" required><br><br>

        <label>Location</label>
        <input type="text" name="location" required><br><br>

        <label>Expiry Date</label>
        <input type="date" name="expiry_date" required min="{{today}}"><br><br>

        <button type="submit">POST</button>
    </form>
</body>
</html>