<!DOCTYPE html>
<html>
    <h1>Student registration</h1>
    <form method = "POST">
        <label>Student ID</label>
        <input name = "student_id"> <br>
        <label>Student Name</label>
        <input name ="student_name"> <br>
        <label>Program Name</label>
        <input name ="program_name"> <br>
        <label>Mobile numer</label>
        <input name ="mobile_number"> <br>
        <label>Email ID</label>
        <input name ="email_id"> <br>
        <button> submit </button>
    </form>
</html>